---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import { getSortedPosts } from "@utils/getSortedPosts";
import getPostsWithEnrichedFrontmatter from "@utils/getPostsWithEnrichedFrontmatter";
import { SITE } from "@config";

const basePosts = await getCollection("blog");
const posts = await getPostsWithEnrichedFrontmatter<"blog">(basePosts);

const sortedPosts = getSortedPosts(posts, SITE.blogContentTypes);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
const fragmentPosts = getSortedPosts(posts, ["fragment"]).sort(() => 0.5 - Math.random()).slice(0, SITE.fragmentsPerIndex);

---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1 class="mr-2">Welcome Aboard the <span class="text-skin-accent">Elysium</span></h1>
      <h2>Hello, I'm Daniel, Captain of the Elysium.</h2>
      <p>
        The Elysium is a vessel dedicated to the exploration of mindful productivity, technology, and personal growth.
      </p>
      <p>
        <br/>
        <pre class="sm:text-md">&gt; Prepare for hyperdrive in 3... 2... 1...</pre>
      </p>
    </section>

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, id }) => (
                <Card
                  href={`/notes/${id}/`}
                  frontmatter={data}
                  secHeading={false}
                  showNexusScore={true}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="fragment-posts">
          <h2>{featuredPosts.length > 0 && "Recent "}Log Entries</h2>
          <ul>
            {recentPosts.map(
              ({ data, id }, index) =>
                index < SITE.postPerIndex && (
                  <Card
                    href={`/notes/${id}/`}
                    frontmatter={data}
                    secHeading={false}
                    showNexusScore={true}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/notes">
        All Log Entries
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>

    {
      fragmentPosts.length > 0 && (
        <>
          <section id="thoughts">
            <h2>Thoughts</h2>
            <ul>
              {fragmentPosts.map(({ data, id }) => (
                <Card
                  href={`/notes/${id}/`}
                  frontmatter={data}
                  secHeading={false}
                  showNexusScore={true}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    <!-- {
      fragmentPosts.length > 0 && (
        <section id="fragment-posts">
          <h2>Fragmented Thoughts</h2>
          <ul class="fragment-grid">
            {fragmentPosts.map(({ data, id }) =>
              (
                <Card
                  href={`/notes/${id}/`}
                  frontmatter={data}
                  secHeading={false}
                  showNexusScore={true}
                />
              )
          )}
          </ul>
        </section>
      )
    } -->
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-6xl;
  }
  #hero h2 {
    @apply my-4 inline-block text-xl sm:my-4 sm:text-2xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts,
  #fragment-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2,
  #fragment-posts h2 {
    @apply text-3xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }

  /* ===== Fragment Posts Grid ===== */
  .fragment-grid {
    @apply grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-2;
  }
</style>
