---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { getSortedPosts } from "@utils/getSortedPosts";
import getPostsWithEnrichedFrontmatter from "@utils/getPostsWithEnrichedFrontmatter";

export const getStaticPaths = (async ({ paginate }) => {
  const baseWriting = await getCollection("writing", ({ data }) => data.status && data.status === "published" || data.status === "release");
  const writing = await getPostsWithEnrichedFrontmatter<"writing">(baseWriting);

  return paginate(getSortedPosts(writing), { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title={`Writing | ${SITE.title}`}>
  <Header activeNav="writing" />
  <Main
    pageTitle="Writing"
    pageDesc="Long-form essays and narratives I’ve written and refined."
  >
    <ul>
      {page.data.map(({ data, id }) => (
        <Card
          href={`/writing/${id}/`}
          frontmatter={data}
          secHeading={false}
          showNexusScore={false}
        />
      ))}
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
